:root {
	--white: #ffffff;
	--black_gradient_background: #0c0c11;
	--text: #847198;
	--ui_purple: #472f9a;
	--ui_light: #5e48af;
	/* standard: */
	--light_green: #06a66e;
	--purple: #190f43;
	--green: #005e3d;
	--yellow: #dcba61;
	--dark_green: #013329;

	/* low saturation */
	--light_green_ls: #226c52;
	--purple_ls: #1a152e;
	--green_ls: #103b2c;
	--yellow_ls: #af9555;
	--dark_green_ls: #0a201c;

	/* high saturation */
	--light_green_hs: #03c983;
	min-height: 100vh;
}

.navbarTemp {
	display: block;
}

.navbarTempInactive {
	display: none;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 88vh;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.card {
	width: 55%;
	min-width: 800px;
	max-height: 700px !important;
	border-radius: 25px;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-color: var(--light_green_ls) var(--dark_green_ls);
	scrollbar-width: thin;
	z-index:2;
	background:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7));
}

.card::-webkit-scrollbar-thumb{
	background: var(--light_green_ls);
}

.card::-webkit-scrollbar-track {
	background: var(--dark_green_ls);
}

.card>div {
	width: 90%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

body>div {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
li {
	font-family: jura-regular;
}

@font-face {
	font-family: starcraft-normal;
	src: url(../fonts/starcraft_normal.ttf);
}

@font-face {
	font-family: jura-bold;
	src: url(../fonts/jura_bold.ttf);
}

@font-face {
	font-family: jura-regular;
	src: url(../fonts/jura_regular.ttf);
}


input,
textarea,
select,
button {
	border: 1px solid var(--dark_green_ls);
	color: var(--light_green_hs);
	background-color: var(--green_ls);
}


.buttonPrimary {
	min-width: 100px;
	min-height: 30px;
	border-radius: 25px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
}

.buttonPrimary:hover {
	color: var(--light_green_ls);
	background-color: var(--dark_green_ls);
}

.buttonSecondary {
	min-width: 100px;
	min-height: 30px;
	border-radius: 25px;
	border: 1px solid var(--dark_green);
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
	background:
		linear-gradient(rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4));
}

.buttonSecondary:hover {
	background-color: var(--dark_green_ls);
}

.buttonSecondaryActive {
	min-width: 100px;
	min-height: 30px;
	border-radius: 25px;
	border: 1px solid var(--dark_green);
	background-color: var(--light_green_ls) !important;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
	background:
		linear-gradient(rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4));
}

.blank {
	color: var(--light_green_ls);
	min-height: 88vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(180deg,
			var(--dark_green_ls),
			var(--black_gradient_background) 74%);

	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	text-align: center;
}