:root {
	--white: #ffffff;
	--black_gradient_background: #0c0c11;
	--text: #847198;
	--ui_purple: #472f9a;
	/* standard: */
	--light_green: #06a66e;
	--purple: #190f43;
	--green: #005e3d;
	--yellow: #dcba61;
	--dark_green: #013329;

	/* low saturation */
	--light_green_ls: #226c52;
	--purple_ls: #1a152e;
	--green_ls: #103b2c;
	--yellow_ls: #af9555;
	--dark_green_ls: #0a201c;

	/* high saturation */
	--light_green_hs: #03c983;
	min-height: 100vh;
}

.navbarTemp{
	display:block;
}

.navbarTempInactive{
	display:none;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.card {
	width: 80%;
	height: 80%;
	border-radius: 25px;
	margin-top:20px;
	padding-top:20px;
	background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        );
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

body > div {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
	font-family: jura-regular;
}

@font-face {
	font-family: starcraft-normal;
	src: url(../fonts/starcraft_normal.ttf);
}

@font-face {
	font-family: jura-bold;
	src: url(../fonts/jura_bold.ttf);
}

@font-face {
	font-family: jura-regular;
	src: url(../fonts/jura_regular.ttf);
}


input, textarea{
border: 1px solid var(--dark_green_ls);
color: var(--light_green_hs);
background-color: var(--green_ls);
}