MONGO_CONNECTION_STRING=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
VERIFICATION_SECRET=your_verification_secret
RESET_PASSWORD_SECRET=your_reset_password_secret
RESEND_API_KEY=your_resend_api_key
EMAIL_DOMAIN=your_email_domain