.summary{
	width:100%;
	border-radius:25px;
	height: 90px;
	border:2px solid var(--purple_ls);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom:8px;
	padding-top: 8px;
	background:
	linear-gradient(rgba(0, 0, 0, 0.9),
		rgba(0, 0, 0, 0.9));
}

.summaryTitle{
	font-size:36px;
	color:var(--ui_light);
	font-weight: 900;
	font-family: jura-bold;
}

.summaryAdditional{
	min-width:55%;
	display:flex;
	justify-content: space-between;
}

.summaryAdditional p{
	font-size:16px;
}

.listedBuildOrder{
	line-height: 0.9;
	font-size:16px;
	list-style-type: none; 
	text-align: left;
	white-space: pre-wrap;
  word-wrap: break-word;
	max-width:90%;
}

.listedBuildOrder li {
	max-width: 90%;
	white-space: pre-wrap; /* umożliwia zawijanie */
  word-wrap: break-word;
}

.listedBuildOrder p {
	max-width:100%;
}

.container{
	display:flex;
	flex-direction: column;
	position:relative;
	margin-top:15px;
	white-space: pre-wrap;
  word-wrap: break-word;
}

.dropdownToggle{
	width: 33px;
	height:33.5px;
	border: 2px solid var(--dark_green_ls);
	color: var(--light_green_hs);
	background-color: var(--green_ls);
	position: absolute;
	margin-top:30px;
}

.dropdownToggleOff{
	right: -30px;
	transition: right 0.3s ease-in-out; 
}

.dropdownToggleOn{
	right: -180px;
	transition: right 0.3s ease-in-out; 
}

.dropdownToggle img{
	width:110%;
	height:110%;
}

.dropdownToggle:hover{
	color: var(--light_green_ls);
	background-color: var(--dark_green);
}

.dropdownMenu{
	position: absolute;
	margin-top:30px;
	width: 150px;;
	height: 30px;
	border: 2px solid var(--dark_green_ls);
	color: var(--light_green_hs);
	background-color: var(--green_ls);
	z-index: 1;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.dropdownMenuOff{
	right: -3px;
	transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out; 
	opacity: 0; 
}

.dropdownMenuOn{
	right: -153px;
	opacity: 1;
	transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out; 	
}

.dropdownButton {
	width: 45px;
	height: 23px;
	border-radius: 25px;
	font-size: 10px;
}

.dropdownButton:hover {
	color: var(--light_green_ls);
	background-color: var(--dark_green_ls);
}

.dropdownFlipped {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
	transition: transform 0.3s ease-in-out;
}