.listBox {
	margin-top: 20px;
	width: 40%;
	height: auto;
}

.filtering {
	margin-top: 15px;
	width: 750px;
	height: 50px;
	border: 1px solid red;
}

hr {
	color: var(--ui_purple);
}

a {
	text-decoration: none;
}
