.blank {
	color: var(--light_green_ls);
	min-height: 88vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(
			180deg,
			var(--dark_green_ls),
			var(--black_gradient_background) 74%
	);

	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	text-align: center;
}
